@import 'tailwindcss';
@source '@/app';
@source '@/lib';

@theme {
  --color-blue: #007aff;
  --color-magenta: #a550a7;
  --color-pink: #f74f9e;
  --color-red: #fe5257;
  --color-orange: #f7831b;
  --color-yellow: #ffc600;
  --color-green: #64ba46;
  --color-cyan: #8b8c8c;

  --color-gray-1: oklch(0.985 0.001 106.423);
  --color-gray-2: oklch(0.97 0.001 106.424);
  --color-gray-3: oklch(0.923 0.003 48.717);
  --color-gray-4: oklch(0.869 0.005 56.366);
  --color-gray-5: oklch(0.709 0.01 56.259);
  --color-gray-6: oklch(0.553 0.013 58.071);
  --color-gray-7: oklch(0.444 0.011 73.639);
  --color-gray-8: oklch(0.374 0.01 67.558);
  --color-gray-9: oklch(0.268 0.007 34.298);
  --color-gray-10: oklch(0.216 0.006 56.043);
  --color-gray-11: oklch(0.147 0.004 49.25);

  --color-foreground: #f7f7f7;
  --color-background: #4a4543;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --radius: 0.5rem;
    @apply bg-gray-10 text-gray-2;
  }

  :root,
  html,
  body,
  div#app {
    height: 100%;
  }
}

@utility flex {
  display: flex;
  min-width: 0;
  min-height: 0;
}
